mixin column_header
  .header
    .dropdown
      a.list-filter-drop(href='#') Priority <b class="caret"></b>
      ul.dropdown-menu
        li
          a(href='#') Priority
        li
          a(href='#') Date Added