
img.gravatar {
    border: 2px solid #ccc;
    width: 36px;
    height: 36px;
    float: left;
}

h3.gravatar {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
}

#board {
    margin-top: 60px;
}

.issue-item {
    background-color: #fff;
}
span.time {
    font-size: 11px;
}
.issue-item hr {
    margin: 3px 0 6px;
}
.issue-item h2 {
    line-height: 18px;
    font-size: 14px;
}
.issue-item p {
    margin-top: 4px;
}
.issue-item .label {
    float: right;
}